---
import Layout from "@/layouts/Layout.astro"
import AgeHistogram from "@/components/AgeHistogram.astro"

const links = [
	// { href: "#model-performance", text: "Model Performance" },
	// { href: "#chat-with-the-llm", text: "Chat with the LLM" },
	{ href: "#!", text: "Dataset" },
	{ href: "#!", text: "Models & LLM" },
	{ href: "#!", text: "Interactive Games" },
]

const models = [
	{
		name: "Simple Model",
		color: "green",
		mae: 5.22,
		r2: 0.1649,
		yearsPercent: 61.1,
	},
	{
		name: "K-fold Model",
		color: "green",
		mae: 5.23,
		r2: 0.1613,
		yearsPercent: 60.8,
	},
	{
		name: "Enhanced Simple Model",
		color: "purple",
		mae: 5.2,
		r2: 0.1843,
		yearsPercent: 59.8,
	},
	{
		name: "Enhanced K-fold Model",
		color: "green",
		mae: 5.23,
		r2: 0.1661,
		yearsPercent: 61.0,
	},
]
---

<Layout>
	<main>
		<div
			style="background: linear-gradient(180.00deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 100%), linear-gradient(90deg, var(--color-peach), var(--color-pink) 100%);"
		>
			<section class="pt-36 pb-52">
				<h1 class="max-w-4xl mx-auto">
					What does your dating profile say about your age?
				</h1>
				<p class="text-lg max-w-2xl">
					We dug through, experimented with, and analyzed data from
					OkCupid for this final project. Experience the data for
					yourself below!
				</p>
				<nav class="pill mt-24 max-w-none w-fit">
					<ul class="font-light flex justify-center gap-6">
						{
							links.map((link) => (
								<li>
									<a href={link.href}>{link.text}</a>
								</li>
							))
						}
					</ul>
				</nav>
			</section>
		</div>
		<section class="pt-24 pb-36">
			<h2>About the Dataset</h2>
			<section class="flex gap-16 items-center mt-10 mx-auto">
				<div class="w-1/2">
					<p>
						We used a set of user profiles and survey responses
						scraped from the OkCupid dating platform in 2015-2016.
						It contains approximately 60,000 user records with over
						2600 unique survey questions. The data is ~1GB in size
						and structured in CSV format across multiple files: user
						profiles containing demographics, personality traits,
						preferences and question answer options, and a question
						file with survey question text and answer options.
					</p>
					<div class="mt-10">
						<a
							href="https://mega.nz/#F!QIpXkL4Q!b3QXepE6tgyZ3zDhWbv1eg"
							class="button"
							target="_blank"
						>
							View Dataset
						</a>
					</div>
				</div>
				<div class="w-1/2"></div>
			</section>
		</section>
		<section class="pt-20 pb-36">
			<h2>Data Quality Checks</h2>
			<p class="max-w-4xl">
				Before developing predictive models, we conducted essential
				exploratory data analysis to understand our dataset's
				characteristics and validate our assumptions about the user
				population.
			</p>
			<section class="flex gap-16 items-center mt-10 card card--pink">
				<div class="w-1/2">
					<h3>Age Distribution</h3>
					<p>
						We plotted a histogram of user ages to verify that the
						age distribution makes sense for an online dating
						platform. As we hypothesized, most users fall on the
						younger side, around 20-40 years of age, and there are
						few users above 60 or below 18. This is a useful reality
						check because it helps ensure that the age data is
						reasonable and free from obvious errors (such as
						implausibly high or low ages), which could otherwise
						distort our predictive model.
					</p>
				</div>
				<div class="w-1/2">
					<AgeHistogram />
				</div>
			</section>
			<section class="flex gap-16 items-center mt-10 card card--pink">
				<div class="w-1/2">
					<h3>Sex Drive Distribution</h3>
					<p>
						For another sanity check we compared sex drive to the
						question “Regardless of future plans, what's more
						interesting to you right now?” (Love/Sex). In the graph
						we show the people in the top 20% by sex drive, and in
						all bins in the histogram the preference is for sex,
						growing much more clear as the sex drive rises! Very
						fitting for users with the highest sex drive.
					</p>
				</div>
				<div class="w-1/2"></div>
			</section>
		</section>
		<!-- TODO: SECTION: Data Insights / Demographics -->
		<section
			id="model-performance"
			class="pt-20 pb-36"
		>
			<h2>Model Performance Comparisons</h2>
			<p class="max-w-4xl">
				Our approach systematically explores four distinct neural
				network architectures, progressing from simple baseline models
				to sophisticated ensemble methods with advanced feature
				engineering.
			</p>
			<div class="grid grid-cols-4 gap-6 mt-10">
				{
					models.map((model) => (
						<div class={`card card--${model.color}`}>
							<h3>{model.name}</h3>
							<table>
								<thead>
									<tr>
										<td>MAE</td>
										<td>
											R<sup>2</sup>
										</td>
										<td>&plusmn; 5 years</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{model.mae}</td>
										<td>{model.r2}</td>
										<td>{model.yearsPercent}%</td>
									</tr>
								</tbody>
							</table>
						</div>
					))
				}
			</div>
		</section>
		<!-- <section class="pt-20 pb-36">
			<h2>Can Our Models Guess Your Age?</h2>
			<p>Something goes here.</p>
			<div class="grid grid-cols-3 gap-6 mt-10"></div>
		</section> -->
		<section class="pt-20 pb-36">
			<h2>Beat the Models!</h2>
			<p>
				Are you better at ___ than our models? Play this game to find
				out!
			</p>
			<div class="grid grid-cols-3 gap-6 mt-10"></div>
		</section>
		<!-- <section
			id="chat-with-the-llm"
			class="pt-20 pb-36"
		>
			<h2>Chat with the LLM</h2>
			<p>Does it beat our models? Take a turn and see!</p>
			<div
				class="bg-white relative rounded-3xl border-gradient-1 p-6 mt-12 h-screen max-h-[700px]"
			>
				<div class="pill absolute bottom-16 left-6 right-6">
					<p class="mb-0">Type something...</p>
				</div>
			</div>
		</section> -->
	</main>
	<footer class="bg-black text-white p-6 pt-8">
		<section>
			<p>Project by Amit Avnon, Catherine Chen, and David Ruppin.</p>
		</section>
	</footer>
</Layout>
